.btn {
  /* Default button styles removed */
  all: unset;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #ccc;
}

.btn-yellow {
  background: var(--primary-color);
  color: var(--text-color-white);
}

.btn-yellow:hover {
  background: var(--primary-color-hover);
  color: var(--text-color-white);
}
